<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Form</title>
</head>
<body>
<h2 style="text-align; center">Registration Form</h2>
{% for message in form.name.errors %}
<div>{{message}}</div>
{%endfor%}
<form action="http://127.0.0.1:5000/success" method="post">
    {{form.hidden_tag()}}<br>
    <div style="font-size:18px; font-weight:bold, margin-left:150px">
        {{form.name.label}}<br>
        {{form.name}}<br>
        {{form.gender.label}}<br>
        {{form.gender}}<br>
        {{form.address.label}}<br>
        {{form.address}}<br>
        {{form.email.label}}<br>
        {{form.email}}<br>
        {{form.age.label}}<br>
        {{form.age}}<br>
        {{form.language.label}}<br>
        {{form.language}}<br><br>
        {{form.submit}}

    </div>

</form>
</body>
</html>