<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<h3> Register the Customer , fill the following Form</h3>
<form action="http://127.0.0.1:5000/success" method="POST">
    <p>Name <input type="text" name="name"></p>
    <p>Email <input type="email" name="email"></p>
    <p>Contact <input type="text" name="contact"></p>
    <p>PinCode <input type="text" name="pin"></p>
    <p><input type="submit" value="submit"></p>
</form>
</body>
</html>